.jumbotron {
    text-align: center;
    color: white;
    background: darkgrey;
}

#one {
    float: left;
    clear: right;
}

#two {
    float: right;
    justify-items: right;
    margin-left: 50rem;
    clear: left;
}

.form-control {
    overflow:
}

i {
    background: rgb(150, 235, 235);
    padding: 0.55rem;
    border: 2px solid teal;
    border-radius: 8px;
}

i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
    /* how do I add this effect without the parent container growing?*/ 
  }


/*how do I make #search not overflow with smaller screen sizes?

/*UV classes, severe, moderate, or mild and corresponding colors 